<a href="https://colab.research.google.com/github/abdalrahmant/Streaming-Service/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
#Streaming Service Analysis with Python
import numpy as np # linear algebra
import pandas as pd # data processing

import plotly
import plotly.express as px
from plotly.subplots import make_subplots
import seaborn as sns
import matplotlib.pyplot as plt

tv_shows = pd.read_csv('tv_shows.csv')
tv_shows.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [65]:
tv_shows = pd.read_csv('tv_shows.csv')
tv_shows.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [66]:
tv_shows.shape

(5368, 12)

In [67]:
cols=tv_shows.columns.tolist()
cols

['Unnamed: 0',
 'ID',
 'Title',
 'Year',
 'Age',
 'IMDb',
 'Rotten Tomatoes',
 'Netflix',
 'Hulu',
 'Prime Video',
 'Disney+',
 'Type']

In [15]:
tv_shows.drop_duplicates(subset='Title', 
                         keep='first',inplace=True)

In [68]:
tv_shows.isna()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
5363,False,False,False,False,True,True,False,False,False,False,False,False
5364,False,False,False,False,True,True,False,False,False,False,False,False
5365,False,False,False,False,True,True,False,False,False,False,False,False
5366,False,False,False,False,True,True,False,False,False,False,False,False
5367,False,False,False,False,True,True,False,False,False,False,False,False

In [69]:
tv_shows.isna().sum()

Unnamed: 0            0
ID                    0
Title                 0
Year                  0
Age                2127
IMDb                962
Rotten Tomatoes       0
Netflix               0
Hulu                  0
Prime Video           0
Disney+               0
Type                  0
dtype: int64

In [70]:
#language
language = tv_shows.value_counts().head(10)
language.index

MultiIndex([(   0,    1,                      'Breaking Bad', 2008, ...),
            (2833, 2947,                      'I Am Frankie', 2017, ...),
            (2820, 2934,                   'Crossing Swords', 2020, ...),
            (2821, 2935,  'Baka and Test: Summon the Beasts', 2010, ...),
            (2824, 2938,                         'Threesome', 2011, ...),
            (2825, 2939,          'Maken-Ki! Battling Venus', 2011, ...),
            (2826, 2940,                'Sherman's Showcase', 2019, ...),
            (2827, 2941,    'Yashahime: Princess Half-Demon', 2020, ...),
            (2828, 2942,                  'Outbreak Company', 2013, ...),
            (2829, 2943, 'Marriage Boot Camp: Reality Stars', 2014, ...)],
           names=['Unnamed: 0', 'ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Netflix', 'Hulu', 'Prime Video', 'Disney+', 'Type'])

In [71]:
tv_shows.dtypes

Unnamed: 0          int64
ID                  int64
Title              object
Year                int64
Age                object
IMDb               object
Rotten Tomatoes    object
Netflix             int64
Hulu                int64
Prime Video         int64
Disney+             int64
Type                int64
dtype: object

In [72]:
tv_shows['Age']

0       18+
1       16+
2       18+
3       18+
4       16+
       ...
5363    NaN
5364    NaN
5365    NaN
5366    NaN
5367    NaN
Name: Age, Length: 5368, dtype: object

In [73]:
tv_shows['Rotten Tomatoes']

0       100/100
1        96/100
2        95/100
3        94/100
4        93/100
         ...
5363     10/100
5364     10/100
5365     10/100
5366     10/100
5367     10/100
Name: Rotten Tomatoes, Length: 5368, dtype: object

In [74]:
tv_shows['Rotten Tomatoes'].value_counts()

10/100     304
13/100     174
45/100     135
51/100     131
52/100     125
          ...
91/100       4
94/100       2
95/100       2
100/100      2
96/100       1
Name: Rotten Tomatoes, Length: 85, dtype: int64

In [75]:
language = tv_shows.value_counts().head(10)
language.Index
pit.figure(figsize=(10,0))
pit.title('Top 1o language in streaning Service')
sns.barplot(x=language.index.y=language.values)

SyntaxError: ignored

In [92]:
tv_shows['Rotten Tomatoes'] = tv_shows['Rotten Tomatoes'].fillna('100%')
tv_shows['Rotten Tomatoes'] = tv_shows['Rotten Tomatoes'].apply(lambda x : x.rstrip('%'))
tv_shows['Rotten Tomatoes'] =tv_shows.to_numeric(tv_shows['Rotten Tomatoes'])

AttributeError: ignored

In [93]:
#title of the shows
tv_shows.drop_duplicates(subset='Title', 
                         keep='first',inplace=True)
tv_shows['Rotten Tomatoes'] = tv_shows['Rotten Tomatoes'].fillna('0%')
tv_shows['Rotten Tomatoes'] = tv_shows['Rotten Tomatoes'].apply(lambda x : x.rstrip('%'))
tv_shows['Rotten Tomatoes']  =pd.to_numeric(tv_shows.csv['Rotten Tomatoes'])


tv_shows['IMDb'] = tv_shows['IMDb'].fillna('0')
tv_shows['IMDb'] = tv_shows['IMDb']*10
tv_shows['IMDb'] = tv_shows['IMDb'].astype('int')

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

FileNotFoundError: ignored